<!DOCTYPE html>
<html>
<footer> <!-- 소연님 작성 영역 -->
	<h1>하단영역</h1>
	<div class="footer">
		<div class="footer_menu">
			<ul class="footer_menu_line flex between">
				<li>	
					<label for="check-btn">회사소개 ▼</label>
					<input id="check-btn" class="check-btn" type="checkbox">
					<ul class="menu">
						<li><a href="#">인터파크</a></li>
						<li><a href="#">인터파크커머스</a></li>
					</ul>					
				</li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">개인정보 처리 방침</a></li>
				<li><a href="#">위치기반서비스 이용약관</a></li>
				<li><a href="#">여행약관</a></li>
				<li><a href="#">여행자 보험 가입안내</a></li>
				<li><a href="#">티켓판매안내</a></li>
				<li>
					<label for="check-btn"><a href="/notice">공지사항 ▼</a></label>
					<input id="check-btn" class="check-btn" type="checkbox">
					<ul class="menu">
						<li><a href="#">인터파크</a></li>
						<li><a href="#">인터파크커머스</a></li>
					</ul>
				</li>
				<li>					
					<label for="check-btn">고객센터 ▼</label>
					<input id="check-btn" class="check-btn" type="checkbox">
					<ul class="menu">
						<li><a href="#">투어 고객센터</a></li>
						<li><a href="#">티켓 고객센터</a></li>
						<li><a href="#">쇼핑 고객센터</a></li>
						<li><a href="#">도서 고객센터</a></li>
					</ul>
				</li>
				<li>
					<label for="check-down">Language ▼</label>
					<input id="check-btn" class="check-btn" type="checkbox">
					<ul class="menu">
						<li><a href="#">Korea</a></li>
						<li><a href="#">English</a></li>
						<li><a href="#">Japanese</a></li>
						<li><a href="#">Chinese</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="Inter">
		<div class="InterPark">		
				<div class="InterPark_adders">
				<h2>(주)인터파크</h2>
					<ul>
						<li><a>서울시 강남구 삼성로 512 삼성동빌딩 10층</a></li>
						<li><a>호스팅서비스제공자 (주)인터파크</a></li>
						<li><a>대표이사 최휘영</a></li>
					</ul>
					<ul>
						<li><a>사업자등록번호 824-81-02515</a> <a href="#">사업자정보확인</a></li>
						<li><a>통신판매업신고 2022-서울강남-02179</a></li>
					</ul>
					<ul>
						<li><a>관광사업증 등록번호 : 제2014-42호크</a></li>
					</ul>
				</div>
				<div class="InterPark_ServiceCenter">
				<h3>고객센터</h3>
					<ul>
						<li><a href="#">투어1:1문의</a></li>
						<li><a href="#">티켓1:1문의</a></li>
					</ul>
					<ul>
						<li><a>투어 1588-3443</a></li>
						<li><a>티켓 1544-1555</a></li>
						<li><a>해외항공 02-3479-4399</a></li>
						<li><a>국내항공 02-3479-4340</a></li>
					</ul>
					<ul>
						<li><a>팩스 02-6924-9000</a></li>
						<li><a>이메일 helpdesk@interpark.com</a></li>
					</ul>
				</div>			
				<div class="InterPark_FinancialDispute">
				<h3>전자금융거래 분쟁처리 담당</h3>
					<ul>
						<li><a>투어 1588-3443</a></li>
						<li><a>티켓 1544-1555</a></li>
						<li><a>팩스 02-6924-9001</a></li>
					</ul>
					<ul>
						<li><a>intersolution@interpark.com</a></li>
						<li><a>개인정보보호책임자 cpo@interpark.com</a></li>
					</ul>
				</div>
				<div class="InterPark_text">
					<p>
					(주)인터파크는 인터파크티켓, 인터파크투어의 통신판매중개자로서 통신판매의 당사자가 아니므로, 
					개별 판매자가 등록한 오픈마켓 상품에 대해서 주식회사 인터파크는 일체 책임을 지지 않습니다.
					</p>
					<p>
					Copyright ⓒ INTERPARK Co.,Ltd. All Rights Reserved.
					</p>
				</div>
			</div>
			
			
			<div class="InterParkCammers">		
				<div class="InterParkCammers_adders">
				<h2>(주)인터파크커머스</h2>
				<ul>
					<li><a>서울시 서초구 강남대로 447(서초동, 남서울빌딩)</a></li>
				</ul>
				<ul>
					<li><a>호스팅서비스제공자 (주)인터파크커머스</a></li>
					<li><a>대표이사 김양선</a></li>
				</ul>
				<ul>
					<li><a>사업자등록번호 422-81-03185</a> <a href="#">사업자정보확인</a></li>
					<li><a>통신판매업신고 2023-서울서초-0823</a></li>
				</ul>
				</div>
				
				<div class="InterParkCammers_ServiceCenter">
				<h3>고객센터</h3>
				<ul>
					<li><a href="#">쇼핑1:1문의</a></li>
					<li><a href="#">도서1:1문의</a></li>
				</ul>
				<ul>				
					<li><a>쇼핑 1588-1555</a></li>
					<li><a>도서 1577-2555</a></li>
				</ul>
				<ul>
					<li><a>팩스 02-6924-9050</a></li>
					<li><a>이메일 helpshop@interpark.com</a></li>
				</ul>
				</div>
				
				<div class="InterParkCammers_FinancialDispute">
				<h3>전자금융거래 분쟁처리 담당</h3>
				<ul>			
					<li><a>쇼핑 1588-1555</a></li>
					<li><a>도서 1577-2555</a></li>
					<li><a>팩스 02-6924-9050</a></li>
				</ul>
				<ul>
					<li><a>이메일 helpshop@interpark.com</a></li>
					<li><a>개인정보보호책임자 cposhopping@interpark.com</a></li>
				</ul>
				</div>
				
				<div class="InterParkCammers_text">
				<p>
					(주)인터파크커머스는 인터파크쇼핑, 인터파크도서의 통신판매중개자로서 통신판매의 당사자가 아니므로,
					개별 판매자가 등록한 오픈마켓 상품에 대해서 주식회사 인터파크커머스는 일체 책임을 지지 않습니다.
				</p>
				<p>
					Copyright ⓒ INTERPARKCormmerce Co.,Ltd. All Rights Reserved.
				</p>
			</div>
		</div>
		</div>
	</div>
</footer>
</html>