<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		th:fragment="basic(head, main)"	>
	<head>
        <meta charset="UTF-8">
        <title>GREEN WEB TECH</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/common/common.css">
        <th:block th:replace="${head}" />
    </head>
    <body>
        <th:block th:replace="~{layout/header}" />
        <th:block th:replace="${main}" />
        <th:block th:replace="~{layout/footer}" />
    </body>
</html>