<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상품 상세 페이지</title>
</head>
<body>
	<h1>상품 상세 페이지</h1>
	<div class="wrap view-size">
		<section id="detail">
				<table border = "1">
					<tr>
						<th>상품번호</th>
						<td th:text="${detail.pcode}"></td>
					</tr>
					<tr>
						<th>상품이름</th>
						<td th:text="${detail.pname}"></td>
					</tr>
					<tr>
						<th>상품가격</th>
						<td th:text="${detail.price}"></td>
					</tr>
					<tr>
						<th>상품 판매자</th>
						<td th:text="${detail.email}"></td>
					</tr>
					<tr>
						<th>상품 상세 정보</th>
						<td th:text="${detail.pcontent}"></td>
					</tr>
					<tr>
						<th>최초 등록일</th>
						<td th:text="${detail.createdDate}"></td>
					</tr>
					<tr>
						<th>최종 수정일</th>
						<td th:text="${detail.updatedDate}"></td>
					</tr>
               <!-- <tr>
						<td colspan="2" class="flex">
							<button type="button" id="btn-update">수정</button>
							<form th:action="|/board/${detail.bno}|" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button>삭제</button>
							</form>
						</td>
					</tr> -->
				</table>
		</section>
		<section id="reply">
			<table border = "1">
					<tr>
						<td>리뷰 작성자</td>
						<td>리뷰 내용</td>
						<td>리뷰 작성일</td>
					</tr>
					<tr th:each="dto : ${replyList}">
						<td th:text="${dto.email}">작성자</td>
						<td th:text="${dto.reply}">내용</td>
						<td th:text="${dto.createdDate}">내용</td>
					</tr>
			</table>
			<form action="/reply/write" method="post">
				<textarea rows="5" cols="40" name="reply"></textarea>
				<input type="hidden" name="pcode" th:value="${detail.pcode}">
				<input type="hidden" name="email" th:value="${detail.email}">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}"/>
				<input type="submit" value="리뷰등록">
			</form>
		</section>
	</div>
</body>
</html>