<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.green.nowon.mapper.NoticeMapper">
 
	<!-- 게시글 저장 -->
 	<insert id="save">
        INSERT INTO notice(title, content, email
        )VALUES (
                 
                 #{title},
                 #{content},
                 #{email}
        )
    </insert>
 
	<!-- 게시글 상세정보 조회 -->
	<select id="list" resultType="com.green.nowon.dto.NoticeDTO">
		SELECT * FROM notice order by no desc
    </select>


	<!-- 게시글 리스트 조회 -->
    <select id="findByNo" resultType="com.green.nowon.dto.NoticeDTO">
        SELECT * FROM notice WHERE no = #{no}
    </select> 
    
	<!-- 게시글 수정 -->
    <update id="updateByNo">
        UPDATE notice
        SET
             title = #{title}
            , content = #{content}
           
        WHERE
            no = #{no}
    </update>
    
    	<!-- 게시글 삭제 -->
    <delete id="deleteByNo">
        delete from notice WHERE no = #{no}
    </delete> 
</mapper>